{:image-link "/my-blog/tricorn.jpeg"
 :title "Old Man Wearing a Tricorn Hat"
 :author "Unknown"
 :license-link "https://creativecommons.org/publicdomain/mark/1.0/"
 :license-name "Public Domain"
 :info "This image comes from the book \"Illustrated Library of Favorite Song Based Upon Folk-songs, and Comprising Songs of the Heart, Songs of Home, Songs of Life, and Songs of Nature\" (Published 1873), edited by Josiah Gilbert Holland. <br><br>As of writing this (January 19, 2025), the book is available to read in full on <a href=\"https://www.google.com/books/edition/Illustrated_Library_of_Favorite_Song/9fA-AAAAYAAJ?hl=en&gbpv=0\">Google Books</a>."}
