    <div class="text-block">
        <!-- TITLE GOES HERE -->
        <h2>{{title}}</h2>
        <div class="meta-info">
            <!-- AUTHOR AND DATE GO HERE -->
            {{author}} · {{date-string}} · {{length}} words
        </div>
        <!-- POST GOES HERE -->
        {{content|safe}}
	<div class="tags">
	  {{tags-formatted|safe}}
	</div>
    </div>
    <div class="giscus-content">
    <script src="https://giscus.app/client.js"
        data-repo="wyrxr/my-blog"
        data-repo-id="R_kgDONotuwQ"
        data-category="Announcements"
        data-category-id="DIC_kwDONotuwc4CnWrk"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
    </div>
